
<html>
  
  <body>
      <h1>Timely</h1>
      <div>
        <button *ngIf="gumbVrijednost" class="gumb" (click)="click()">Start</button>
        <button *ngIf="!gumbVrijednost" class = "gumb" (click)="openDialog()">Stop</button>
      </div>
      <div  *ngIf="prikazTablice">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Start</th>
              <th scope="col">Stop</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
         <tbody>
         <tr>
          <th scope="row">...</th>
          <td>{{vrijemePocetka}}</td>
          <td>...</td>
          <td>...</td>
        </tr>
      </table>
      </div>
  </body>
</html>
